<template>
    <div class="container">
        <div class="shorten-form">
            <small class="hai">Hai domo! Shorten a URL if you'd like. (=´∇｀=)</small>
            <div class="shorten-form--input">
                <md-field md-inline :md-counter="false">
                    <label>{{randomExample()}}</label>
                    <md-input v-model="original" maxlength="3000"></md-input>
                </md-field>
                <md-button class="md-raised md-primary shorten-button" v-on:click="shorten">Shorten</md-button>
            </div>
            <div class="shorten-form--result">
                <a class="shorten-form--result--link" :href="ref">{{displayRef}}</a>
                <md-button
                    v-if="displayRef" 
                    v-clipboard:copy="displayRef"
                    v-clipboard:success="copySuccess"
                    v-clipboard:error="copyError"
                    class="md-icon-button copy-button">
                        <md-icon>content_copy</md-icon>
                </md-button>
            </div>
        </div>
        <md-snackbar md-position="center" :md-duration="4000" :md-active.sync="showSnackbar">
            <span>{{snackbarMessage}}</span>
        </md-snackbar>
    </div>
</template>

<script>
    import firebase from 'firebase/app'
    import '@firebase/firestore'
    import adjective from '../adjectives'
    import character from '../characters'

    export default {
      name: 'shorten',
      data: function () {
        return {
          original: '',
          short: '',
          ref: '',
          displayRef: '',
          showSnackbar: false,
          snackbarMessage: ''
        }
      },
      methods: {
        shorten: function () {
          const db = firebase.firestore()
          const settings = {timestampsInSnapshots: true}
          const original = this.original
          const short = adjective() + adjective() + character()
          db.settings(settings)

          const self = this
          const docRef = db.collection('urls').doc(short)
          docRef.get().then(function (url) {
            if (url.exists) {
              self.toast('Oops I picked a URL that already exists, m-maybe try clicking shorten again (◕⌓◕;)')
            } else {
              docRef.set({
                created: firebase.firestore.FieldValue.serverTimestamp(),
                original: original,
                short: short,
                clicks: 0
              })
              self.setLink(short)
            }
          })
        },
        setLink: function (short) {
          this.ref = short
          this.displayRef = window.location.hostname + '/' + short
        },
        copySuccess: function () {
          this.toast('Ooh you\'ve got a brand new URL in your clipboard. C-can I see it? 8(>_<)8')
        },
        copyError: function () {
          this.toast('I-I\'ve failed you, the URL wasn\'t copied... Please ask @qtKikuchi to fix me ;-;')
        },
        toast: function (msg) {
          this.snackbarMessage = msg
          this.showSnackbar = true
        },
        randomExample: function () {
          const examples = ['haido.moe', 'crunchyroll.com', 'twitter.kikuchi.ca', 'vazkii.us/getdownonit.html', 'streamable.com/m6xbc', 'youtu.be/2MiQonPvlVM']
          return examples[Math.floor(Math.random() * examples.length)]
        }
      }
    }
</script>

<style scoped>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .shorten-form {
        margin: auto;
        flex: 0.5 0 auto;
    }

    .shorten-form--input {
        display: flex;
        flex-direction: row;
    }

    .shorten-form--result {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }

    .shorten-form--result--link {
        font-size: 4vw;
        margin-right: 5px;
    }

    .hai {
        font-size: 4vw;
    }

    @media only screen and (min-width: 600px) {
        .hai {
            font-size: 22px;
        }

        .shorten-form--result--link {
            font-size: 18px;
        }
    }

    .shorten-button {
        margin-top: 15px;
    }

    .copy-button {
        background: transparent;
        border: none;
    }
</style>