<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
  @import "~vue-material/dist/theme/engine";
  @include md-register-theme("default", (
    primary: #FFB6C1,
    accent: md-get-palette-color(blue, A200)
  ));
  @import "~vue-material/dist/theme/all";

  html, body, #app {
    height: 100%;
    margin: 0;
  }
  #app {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
</style>
